// Application colors
$navyblue: #18121e;
$darkteal: #233237;
$rustyred: #984b43;
$warmyellow: #eac67a;

.remember-me {
  color: #878787;
}

footer.main.login {
  padding: 20px;
  border: none;
  color: #878787;
}
