<!DOCTYPE html>
<html>
  <head>
    <title>ThankYou10 | A tool for theater.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-body login-form">

    <%= yield %>

    <footer class="main">
      &copy; 2016 <strong>ThankYou10</strong> by <a href="http://shelbysolomon.net" target="_blank">Shelby Solomon</a>
    </footer>
  </body>
</html>
