<!DOCTYPE html>
<html>
  <head>
    <title>ThankYou10 | A tool for theater.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-body login-page login-form login-form-fall login-form-fall-init">
    <div class="login-container">
      <div class="login-header login-caret">
        <div class="row">
          <div class="col-md-4">
            
          </div>
        </div>
      </div>

      <div class="login-form">
        <%= yield %>
      </div>
    </div>

    <footer class="main login">
      &copy; 2016 <strong>ThankYou10</strong> by <a href="http://shelbysolomon.net" target="_blank">Shelby Solomon</a>
    </footer>
  </body>
</html>
